@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    width: 35vw;
    background-image: url(./images/photo-1585202900225-6d3ac20a6962.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Norse-Bold, sans-serif;
}

.logo-container {
    margin-top: 45%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    overflow: hidden;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    width: 16%;
    height: 16%;
}

.logo {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 60px;
}

.right {
    width: 65vw;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}



/* First part */

.first {
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}



/* Second part */

.second {
    height: 35vh;
    background-color: white;
    -webkit-box-shadow: 6px 14px 9px -7px #E8E8E8; 
    box-shadow: 6px 14px 9px -7px #E8E8E8;
}

.form-title {
    margin-left: 5%;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-bottom: 4%;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#firstName {
    width: 200px;
    height: 20px;
    border: 0.8px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
}

#email {
    width: 200px;
    height: 20px;
    border: 0.8px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
}

#password {
    width: 200px;
    height: 20px;
    border: 0.8px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
}

.form-div-right {
    margin-left: 8%;
}

#lastName {
    width: 200px;
    height: 20px;
    border: 0.8px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
}

#phoneNumber {
    width: 200px;
    height: 20px;
    border: 0.8px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
}

#confirmPassword {
    width: 200px;
    height: 20px;
    border: 0.8px solid #E5E7EB;
    border-radius: 4px;
    padding: 2px;
}



/* Third part */

.third {
    height: 30vh;
    margin-top: 5%;
    margin-left: 5%;
}

.btn-create-account {
    background-color: #596D48;
    border-radius: 4px;
    padding: 12px;
    color: white;
    width: 20%;
    border: none;
}

.btn-create-account:active {
    background-color: #343f2a !important;
}

.log-in {
    display: flex;
    justify-content: left;
    align-items: center;
}

#log-in-link {
    margin-left: 1%;
    text-decoration: none;
    color: #596D48;
}

